<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="main">

        <div class="cat-image">
            <img id="image1" src="pexels-photo-1170986.webp" alt="cat image">
            <img id="image2" src="pexels-photo-1170986.webp" alt="cat image">
            <img id="image3" src="pexels-photo-1170986.webp" alt="cat image">
        </div>

        <div class="form-card">
            <div class="info">
                <input class="fname" type="text" placeholder="First name">
                <input class="lname" type="text" placeholder="Last name">
            </div>
           <div class="email-div">
                <input class="email" type="email" placeholder="Email">
           </div>
           
           <div>
            <button class="btn-signup">Sign Up</button>
           </div>
        </div>

    </section>

</body>
</html>