.main{
    background-color: rgb(20, 20, 124);

}

body{
    width: 60%;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: bold;
}
.cat-image{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    
}

 #image1, #image2, #image3{
    width: 100px;
    height: 100px;

}

#image1{
    border-radius: 5px;
}

#image3{
    border-radius:100px;
}

.form-card{
    /* background-color: white;
    border: 1px solid rgb(191, 6, 6);
    padding: 10px;
    gap: 5px; */
    /* display: flex; */
    /* margin-bottom: 5px;
    justify-content: center;
    justify-items: center; */
    margin: 100px 80px;
    /* padding: 40px; */
    justify-content: center;
    /* justify-items: center; */


}

.info{
    display: flex;
    gap: 10px;
}

.email, .fname, .lname{
    /* justify-content: center; */
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    gap: 5px;
    /* text-align: center; */
}



.email-div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.btn-signup{
    margin-top: 5px;
    background-color: rgb(70, 70, 208);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 100%;

}